body {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    overflow-x: clip;
    overflow: scroll;
}
.my-header-nav { position: fixed; top: 0; width: 100%; background: #333; padding: 10px; }
.my-header-nav button { color: white; background: none; border: none; padding: 10px; cursor: pointer; }
section { height: 100vh; display: flex; align-items: center; justify-content: center; font-size: 2em; }
#section1 { background-color: #f4f4f4; }
#section2 { background-color: #ddd; }